.navbar {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
}

.navbar-brand img {
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-brand:hover{
  color: orange;
}

.navbar-nav .nav-link {
  color: white;
  font-size: 16px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: orange;
}

.navbar-nav .active {
  color: orange !important;
}

.navbar-nav .nav-items-cart{
  align-items: right;
}
  
.selectedRoute {
  color: #ffcb05;
  font-weight: bold;
  border-bottom: 2px solid #ffcb05;
}
